### Build directories
/*.egg-info/
/build/
/dist/
/proto/

### IQ Waveform/Capture
*.iqw
*.rsi
*.tar
*.wv
*.xml

### Administrative
*.pyc
*.lnk
*.code-workspace
*.bat

### Data files
*.csv
*.json
*.xls
*.log
*.pdf
*.ppt
*.pptx
*.xlsx
*.xlsm
*.zip

## Testing Files
htmlcov
.coveralls.yml
test/.coverage
/*.coverage
